/* Base Button Styles */

.button, .background, .outline {
  border-radius: 4px;
}

.button {
  margin: 8px;
  padding: 6px 8px;
  font-size: 12px;
  color: var(--color-text);
  text-transform: uppercase;
  border: none;
  background: transparent;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:disabled {
  pointer-events: none;
  touch-action: none;
  opacity: 0.5;
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

/* Background Styles (for Default) */

.background, .outline, .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: opacity var(--transition);
}

.button .background {
  background: currentColor;
  opacity: 0;
}

.button:hover .background {
  opacity: 0.2;
}

/* Border Styles (for Outlined) */

.outlined .outline {
  border: solid 1px currentColor;
  opacity: 0.5;
}

.button:hover .outline {
  opacity: 1;
}

/* Raised Variant */

.raised {
  background: var(--color-background-gray);
  color: var(--color-text);
  box-shadow: var(--shadow-1);
  transition: box-shadow var(--transition);
}

.raised:hover {
  box-shadow: var(--shadow-2);
}

.raised.primary {
  background: var(--color-primary);
  color: var(--color-text-contrast);
}

.raised.secondary {
  background: var(--color-secondary);
  color: var(--color-text-contrast);
}

/* Overlay Styles (for Raised) */

.overlay {
  background: var(--color-background-contrast);
  opacity: 0;
}

.raised:hover .overlay {
  opacity: 0.4;
}

/* Icon Button */

.icon,
.icon .background, 
.icon .outline {
  border-radius: 100%;
}