.button {
  margin: 8px;
  padding: 6px 8px;
  font-size: 12px;
  color: var(--color-text);
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  background: transparent;
  position: relative;
  overflow: hidden;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:disabled {
  pointer-events: none;
  touch-action: none;
  opacity: 0.5;
}

.button .background {
  content: '';
  background: currentColor;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: opacity var(--transition);
}

.button:hover .background {
  opacity: 0.2;
}

.raised {

}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}