.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 0 25px;
    justify-content: flex-start;
    align-items: flex-start;
}

.vertical {
    flex-flow: column nowrap;
}

.horizontal {
    flex-flow: row nowrap;
}

.wrap {
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .container {
        padding: 0 10px;
    }
    .horizontal {
        flex-flow: column nowrap;
    }
}