.card {
    box-shadow: var(--shadow-1);
    margin: 15px;
    flex: 1;
    min-width: 300px;
    max-width: 450px;
    background: var(--color-paper);
    display: flex;
    flex-flow: column nowrap;
    border-radius: var(--border-radius);
    overflow: hidden;
    --padding: 15px;
    transition: background var(--transition);
}

.clickable {
    cursor: pointer;
}